body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}


h1{
  color: #ff3085;
  text-align: center;
}

h2{
  color: #81688e; 
  text-align: center;  
  font-style: italic;
}

tr{
  text-align: center;
}

table, th, td {
  border: 4px solid white;
  border-collapse: separate;
}

th, td {
  background-color: #05c3e1;
}